/* Header */

.header_navbar {
    background-color: #2c3e50;
}

.header_navbar .navbar-light .navbar-brand {
    color: white;
}

.header_navbar .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}


/* Hero */

.green_bg {
    background-color: #1abc9c;
    color: white;
}

.hero_avatar {
    width: 50%;
}

.hero_separator {
    height: 3px;
    width: 50px;
    background: white;
}

.hero_separator_star {
    font-size: 21px;
}

/* Main */

.portfolio_1 {
    background-color: #ba4b63;
}

.portfolio_1 img {
    width: 100%;
}

.portfolio_2 {
    background-color: #1ea4b6;
}

.portfolio_2 img {
    width: 100%;
}

.portfolio_3 {
    background-color: #140f0f;
}

.portfolio_3 img {
    width: 100%;
}

.portfolio_4 {
    background-color: #1c83c1;
}

.portfolio_4 img {
    width: 100%;
}

.portfolio_5 {
    background-color: #0e38b5;
}

.portfolio_5 img {
    width: 100%;
}

.portfolio_6 {
    background-color: #ccb2a3;
}

.portfolio_6 img {
    width: 100%;
}

.maincontent_separator {
    height: 3px;
    width: 50px;
    background: black;
}

.maincontent_separator_star {
    font-size: 21px;
}

/* About Us */

.aboutus_separator {
    height: 3px;
    width: 50px;
    background: white;
}

.aboutus_separator_star {
    font-size: 21px;
    color: white;
}

.download_button .btn-outline-secondary {
    color: white;
    border-color: white;
}

.download_button .btn-outline-secondary:hover {
    background-color: transparent;
}





/* Footer */

footer {
    background-color: #3a546d;
    color: white;
}

.copyright {
    background-color: #2c3e50;
    color: white;
}